**/node_modules
**/dist
**/*.tsbuildinfo
.git
test-output
benchmarks
apps/designer/test-results
apps/designer/playwright-report
*.sqlite*
.env*
output
docs
.claude
*.png
!apps/**/*.png
!packages/**/*.png
!examples/**/*.png
